<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart-alt bx-sm'></i>
    </div>
    <div class="nav-bar-logo">
        LOGO
    </div>
    <div class="nav-bar-menu">

    </div><i class='bx bx-menu bx-sm'></i>
</div>

<div>
    <img class="banner" src="https://ik.imagekit.io/ThiyaRuff/bags/banner-dark_W5uq7Dv5o.jpg?updatedAt=1690389049308"
        alt="">
<div>
<div *ngIf="product">


<div class="header">
    <h4 class="collection-header">{{product.title}} </h4>
</div>



<div class="product-list-container">
    <div class="product-list">
        <img class="product-img"
            [src]="product.imgUrl1" alt="">
    </div>
    <div class="product-price">
        {{product.price}}
    </div>
    <div class="product-info">
     {{product.description}}
    </div>
</div>

<div class="buy-btn-container">



</div>
</div>
<div class="paypal-btn">
    <div #paypal></div>


</div>
