<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart-alt bx-sm'></i>
    </div>
    <div class="nav-bar-logo">
        LOGO
    </div>
    <div class="nav-bar-menu">

    </div><i class='bx bx-menu bx-sm'></i>
</div>

<div class="container">
    <div class="header">
        <h2 class="collection-header">New collection <br />spring 2023</h2>
        <i class="bx bxs-caret-down-circle bx-lg"></i>
    </div>
  
    <div class="land-img-container">
        <img class="land-img" src="https://ik.imagekit.io/ThiyaRuff/product/8610259_5906.jpg?updatedAt=1693729570922"
            alt="">
    </div>


    <div class="btn-container">
        <h4 class="btn">Bags</h4>
        <h4 class="btn">Makeup</h4>
        <h4 class="btn">Clothing</h4>
        <h4 class="btn">Accessories</h4>
    </div>

    <div class="product-list-container">
        <div class="product-list" [routerLink]="['/product/bags']">
            <img class="product-img"
                src="https://ik.imagekit.io/ThiyaRuff/product/bag-removebg-preview.png?updatedAt=1690312565188" alt="">
            <h5 class="product-list-text">Bags</h5>,
        </div>
        <div class="product-list">
            <img class="product-img"
                src="https://ik.imagekit.io/ThiyaRuff/product/cosmetics-removebg-preview.png?updatedAt=1690314667267"
                alt="">
            <h5 class="product-list-text">Makeup</h5>
        </div>
        <div class="product-list">
            <img class="product-img"
                src="https://ik.imagekit.io/ThiyaRuff/product/dress-removebg-preview.png?updatedAt=1690310605877f"
                alt="">
            <h5 class="product-list-text">Clothing</h5>
        </div>
        <div class="product-list">
            <img class="product-img"
                src="https://ik.imagekit.io/ThiyaRuff/product/watch-removebg-preview.png?updatedAt=1690312588563"
                alt="">
            <h5 class="product-list-text">Accessories</h5>
        </div>

    </div>
</div>