<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart-alt bx-sm'></i>
    </div>
    <div class="nav-bar-logo">
        LOGO
    </div>
    <div class="nav-bar-menu">

    </div><i class='bx bx-menu bx-sm'></i>
</div>

<div>
<img class="banner" src="https://ik.imagekit.io/ThiyaRuff/bags/banner-dark_W5uq7Dv5o.jpg?updatedAt=1690389049308" alt="">

</div>
<div class="header">
    <h2 class="collection-header">Bags</h2>
</div>

<div class="btn-container">
    <h4 class="btn">Purses</h4>
    <h4 class="btn">Designer Bags</h4>
    <h4 class="btn">Stroller Bags</h4>
    <h4 class="btn">Travel Bags</h4>
</div>

<div class="product-list-container">
    <div class="product-list">
        <img class="product-img" src="https://ik.imagekit.io/ThiyaRuff/bags/purse-removebg-preview.png?updatedAt=1690379314156" alt="">
        <h5 class="product-list-text">Purses</h5>,
    </div>    
    <div class="product-list" [routerLink]="['designerbags']">
        <img class="product-img"src="https://ik.imagekit.io/ThiyaRuff/bags/designer-bag-removebg-preview.png?updatedAt=1690379516537" alt="">
        <h5 class="product-list-text">Designer Bags</h5>
    </div>
    <div class="product-list" [routerLink]="['strollerbags']">
        <img class="product-img"src="https://ik.imagekit.io/ThiyaRuff/bags/strollerBag__1_-removebg-preview.png?updatedAt=1690388520394" alt="">
        <h5 class="product-list-text">Stroller Bags</h5>
    </div>
    <div class="product-list">
        <img class="product-img"src="https://ik.imagekit.io/ThiyaRuff/bags/travelBag-removebg-preview-removebg-preview.png?updatedAt=1690388853085" alt="">
        <h5 class="product-list-text">Travel Bags</h5>
    </div>
   
</div>
